.Container {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Switch {
  position: relative;
  display: flex;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 1px;
  min-width: 2.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--base-500);
  box-shadow: var(--base-500-neon);
  transition: all 0.2s ease 0.1s;
  cursor: pointer;

  &[data-checked] {
    background-color: var(--base-300);
    box-shadow: var(--base-300-neon);
  }

  &[data-disabled] {
    box-shadow: none;
    filter: brightness(40%);
    cursor: default;
  }

  &:focus-visible {
    &::before {
      content: '';
      inset: 0;
      position: absolute;
      border-radius: inherit;
      outline: 2px solid var(--color-blue);
      outline-offset: 2px;
    }
  }
}

.Thumb {
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 100%;
  background-color: white;
  transition: translate 0.2s ease;

  &[data-checked] {
    translate: 1rem 0;
  }
}