@use "sass:list";
@use "sass:string";

@function generateNeon($color, $intensity) {
  $var: var(--#{$color}-#{$intensity});
  $w: ($intensity - 100) * 0.01;
  $d: 30% - ($w * 5);
  $n: 100% - $d;

  @return
    0 0 (0.2rem - $w * 0.01rem) color-mix(in oklab, $var $n, #fff $d),
    0 0 (0.2rem - $w * 0.01rem) color-mix(in oklab, $var $n, #fff $d),
    0 0 (0.8rem - $w * 0.04rem) color-mix(in oklab, $var $n, #000 $d),
    0 0 (0.2rem - $w * 0.01rem) $var,
    0 0 (1.2rem - $w * 0.06rem) $var,
    inset 0 0 (0.6rem - $w * 0.03rem) $var;
}

@function generateTextNeon($color, $intensity) {
  $var: var(--#{$color}-#{$intensity});
  $w: ($intensity - 100) * 0.01;
  $d: 30% - ($w * 5);
  $n: 100% - $d;

  @return
    0 0 (0.2rem - $w * 0.01rem) color-mix(in oklab, $var $n, #fff $d),
    0 0 (0.2rem - $w * 0.01rem) color-mix(in oklab, $var $n, #fff $d),
    0 0 (0.8rem - $w * 0.04rem) color-mix(in oklab, $var $n, #000 $d),
    0 0 (0.2rem - $w * 0.01rem) $var,
    0 0 (1.2rem - $w * 0.06rem) $var;
}

$intensity-sl: (
  100: (100%, 85%),
  200: (95%, 70%),
  300: (90%, 50%),
  400: (85%, 35%),
  500: (80%, 20%),
  600: (75%, 10%)
);

$color-hues: (
  "red": 0,
  "orange": 30,
  "yellow": 60,
  "green": 140,
  "cyan": 170,
  "blue": 220,
  "magenta": 300
);

:root {
  /* Color palette and neon glow */
  @each $color, $hue in $color-hues {
    @each $intensity, $sl in $intensity-sl {
      $saturation: list.nth($sl, 1);
      $lightness: list.nth($sl, 2);
      $hsl: hsl($hue, $saturation, $lightness);

      --#{$color}-#{$intensity}: #{$hsl};
      --#{$color}-#{$intensity}-neon: #{generateNeon($color, $intensity)};
      --#{$color}-#{$intensity}-text-neon: #{generateTextNeon($color, $intensity)};
    }
  }

  --text-color: #ffffff;
}

@each $color, $_ in $color-hues {
  #{".color-" + $color} {
    --base-100: var(--#{$color}-100);
    --base-200: var(--#{$color}-200);
    --base-300: var(--#{$color}-300);
    --base-400: var(--#{$color}-400);
    --base-500: var(--#{$color}-500);
    --base-600: var(--#{$color}-600);
    --base-100-neon: var(--#{$color}-100-neon);
    --base-200-neon: var(--#{$color}-200-neon);
    --base-300-neon: var(--#{$color}-300-neon);
    --base-400-neon: var(--#{$color}-400-neon);
    --base-500-neon: var(--#{$color}-500-neon);
    --base-600-neon: var(--#{$color}-600-neon);
    --base-100-text-neon: var(--#{$color}-100-text-neon);
    --base-200-text-neon: var(--#{$color}-200-text-neon);
    --base-300-text-neon: var(--#{$color}-300-text-neon);
    --base-400-text-neon: var(--#{$color}-400-text-neon);
    --base-500-text-neon: var(--#{$color}-500-text-neon);
    --base-600-text-neon: var(--#{$color}-600-text-neon);
  }
}