.Typography {
  font-size: inherit;
  font-weight: bold;
  font-family: inherit;
  color: var(--base-300);
  transition: all 0.3s ease;

  &[data-glow] {
    color: white;
    text-shadow: var(--base-300-text-neon);
  }
}
