.navBar {
  display: flex;
  flex-flow: row;
  border-radius: var(--border-radius);
  height: 60px;
}

@media (max-width: 700px) {
  .navBar {
    flex-flow: column;
    height: fit-content;
    gap: 0;
    max-height: 60px;
    overflow-y: hidden;
  }

  .navBar.expanded {
    max-height: 1000px !important;
  }
}

.navGroup {
  align-items: center;
  display: flex;
  flex-flow: row;
  gap: 10px;
  padding-inline: 10px;
}

@media (max-width: 700px) {
  .navGroup {
    flex-flow: column;
    padding-block: 10px;
  }
}

.navGroupLeft {
  flex-grow: 1;
}

@media (max-width: 700px) {
  .navGroupRight {
    flex-flow: row-reverse;
  }
}

@media (max-width: 700px) {
  .topAlignmentContainer {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.dropdownIcon {
  display: none !important;
  transition: transform 0.2s ease-in-out;
}

.dropdownIcon.open {
  transform: rotate(-90deg);
}

@media (max-width: 700px) {
  .dropdownIcon {
    display: block !important;
  }
}

.navDivider {
  height: 44px;
  width: 2px;
  border-radius: 2px;
  box-shadow: var(--neon-shadow-magenta);
  border-left: 0.15rem solid var(--neon-core-magenta);
}

@media (max-width: 700px) {
  .navDivider {
    display: none;
  }
}

.navItem {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-inline: 6px;
}

@media (max-width: 700px) {
  .navItem {
    font-size: 22px;
  }

  :not(.topAlignmentContainer) > .navItem {
    width: 100%;
  }

  .navGroupRight .navItem:last-child {
    display: none;
  }
}

.navItem img {
  margin-right: 10px;
}

@media (max-width: 700px) {
  .navItem img {
    margin-right: 6px;
  }
}

.hoverUnderline {
  transition: transform 0.2s ease-out;
}

.hoverUnderline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-cyan);
  transition: all 0.2s ease-out;
}

@media (min-width: 700px) {
  .hoverUnderline:hover {
    transform: translateY(-2px);
    color: var(--accent-cyan);
  }

  .hoverUnderline:hover::after {
    transform: scaleX(1) translateY(2px);
    transform-origin: bottom center;
  }
}