@use "@/styles/sizingMixins" as *;

.Navbar {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--base-300);
  border-radius: 1.2rem;
  box-shadow: var(--base-300-neon);
  padding: 0.6rem;
  transform: translateY(-8px);

  :last-child {
    margin-left: auto;
  }

  @include mobile {
    flex-flow: column;
    align-items: flex-start;

    :last-child {
      margin-left: unset;
    }

    &:not([data-expanded]) {
      > :not(:first-child) {
        display: none;
      }
    }
  }
}

.NavbarTopGroup {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    width: 100%;
  }
}

.NavbarExpandArrowContainer {
  height: 1.5rem;
}

.NavbarExpandArrow {
  display: none;
  color: #ffffff;
  line-height: 0px;
  transition: all 0.2s ease;

  @include mobile {
    display: inline-block;
  }
}

.NavbarExpandArrowContainer:active .NavbarExpandArrow {
  color: var(--base-300);
}

.Navbar a[data-hover-scale]:hover {
  transform: translateY(-3px) scale(1.05);
}

.Navbar a[data-click-shrink]:active {
  transform: scale(0.96);
}
