.Label {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.Checkbox {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  transition: all 0.2s ease-out;
  border: 2px solid var(--base-300);
  cursor: pointer;

  &[data-unchecked] {
    background-color: var(--base-500);
    border: 2px solid var(--base-400);
  }

  &[data-checked] {
    background-color: var(--base-300);
    box-shadow: var(--base-300-neon);
  }

  &[data-disabled] {
    box-shadow: none;
    filter: brightness(40%);
    cursor: default;
  }
}

.Indicator {
  display: flex;
  color: var(--base-600);
  transition: all 0.5s ease-in-out;

  &[data-unchecked] {
    display: none;
  }
}